.header {
  margin: 0 auto 50px;
  background: #fff;
  padding: 5px 2% 10px 2%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  box-shadow: 0px 0px 3px #2222226b;
  box-sizing: border-box;
}
.header-ttl {
  color: #000000;
  font-size: 5rem;
  font-family: "Dancing Script", cursive;
  letter-spacing: 15px;
  line-height: 1.2;
  text-align: center;
  text-transform: capitalize;
  text-shadow: 10px 5px 0px #9e9e9e;
}
.header-sub {
  font-size: 1.8rem;
  line-height: 1.5;
  margin: 10px auto 0;
  padding: 0 5%;
  text-align: center;
}
/* end header-------------------------------------------------
--------------------------------------------------------------*/
.content {
  padding: 160px 0 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
/* end content-------------------------------------------------
--------------------------------------------------------------*/
.footer {
  background: #000;
  color: #ffffff;
  margin: 0 auto;
  padding: 15px 20px;
  text-align: center;
  text-transform: capitalize;
}
.footer-src {
  text-decoration: none;
  display: block;
  font-size: 1.4rem;
  margin: 0 auto 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.footer-copy {
  font-size: 2rem;
  font-family: "Dancing Script", cursive;
  letter-spacing: 2px;
  line-height: 1.5;
}
/* end footer-------------------------------------------------
--------------------------------------------------------------*/
main {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
/* end main-------------------------------------------------
--------------------------------------------------------------*/
.articles {
  width: calc(100% - 40%);
}
/* end articles-------------------------------------------------
--------------------------------------------------------------*/
.sidebar {
  width: 30%;
  margin: 0;
  padding: 3%;
  border: 1px solid #000000;
  box-sizing: border-box;
}
/* end sidebar-------------------------------------------------
--------------------------------------------------------------*/
.list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto 80px;
}
.list-item {
  margin: 0 0 20px;
  width: 45%;
  overflow: hidden;
}
.list-item a:hover {
  text-decoration: underline;
}
.list-ttl {
  font-size: 1.4rem;
  line-height: 1.7;
  color: #000000;
  margin: 0 0 10px;
}
.list-date {
  font-size: 1.4rem;
  line-height: 1.7;
  color: #89beb5;
}
.list-img {
  width: 250px;
  height: 180px;
  margin: 0 5% 10px 0;
  overflow: hidden;
}
.list-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* end list-------------------------------------------------
--------------------------------------------------------------*/
.searchbox {
  display: block;
  width: 50%;
  padding: 10px;
  border: none;
  outline: none;
  background: #000000;
  border-radius: 5px;
  color: #ffffff;
  font-size: 1.4rem;
  transition: 0.3s ease-out;
  font-family: "Roboto", sans-serif;
  margin: 0;
}
.searchbox::placeholder {
  color: #ffffff;
}
.searchbox:focus {
  box-shadow: 0px 0px 10px 0px #5599aaa8;
  width: 60%;
  margin: 0 5% 0 0;
}
.searchbox-wrap {
  display: flex;
  align-items: center;
  margin: 0 auto 50px;
}
.message {
  text-align: center;
  color: #000000;
  font-size: 2rem;
  font-family: "Dancing Script", cursive;
}
/* end message search------------------------------------------
--------------------------------------------------------------*/
/* end search-------------------------------------------------
--------------------------------------------------------------*/
.form {
  margin: 0;
}
.form-group {
  margin: 0 auto 10px;
}
.form-control {
  display: block;
  width: 80%;
  padding: 10px;
  border: none;
  outline: none;
  background: #000000;
  border-radius: 5px;
  color: #ffffff;
  font-size: 1.4rem;
  transition: 0.3s ease-out;
  font-family: "Roboto", sans-serif;
  margin: 0;
}
.form-control:focus {
  box-shadow: 0px 0px 10px 0px #5599aaa8;
  width: 100%;
  margin: 0 5% 0 0;
}
.form-label {
  color: #000000;
  font-size: 2rem;
  font-family: "Dancing Script", cursive;
  margin: 0 0 10px;
  display: block;
}
.form-control::placeholder {
  color: #ffffff;
}
.btn {
  color: #fff;
  background: #000000;
  border: none;
  -webkit-appearance: none;
  padding: 15px 50px;
  margin: 30px 0;
  border: 1px solid transparent;
  transition: all 0.2s ease-out;
  cursor: pointer;
}
.btn:hover {
  border: 1px solid #000000;
  color: #000000;
  background: transparent;
}
/* register-------------------------------------------------
--------------------------------------------------------------*/
.news-ttl {
  text-align: left;
  color: #000000;
  font-size: 2rem;
  font-family: "Dancing Script", cursive;
  line-height: 1.5;
  margin: 0 0 30px;
  padding: 0 0 0 20px;
  position: relative;
}
.news-ttl::before {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background: #000000;
}
@media screen and (max-width: 1060px) {
  .content {
    padding: 160px 2% 0;
    display: block;
  }
  .header-ttl {
    font-size: 4.2rem;
  }
  .header-sub {
    font-size: 1.4rem;
  }
  .articles {
    width: 100%;
  }
  .sidebar {
    width: 100%;
    margin: 0 auto 25%;
  }
  .form-control {
    width: 50%;
  }
  .list-item a {
    display: block;
    padding: 0 5%;
  }
  .list-cnt {
    width: 100%;
  }
  .list-img {
    width: 100%;
    margin: 0 auto 10px;
  }
  .list-ttl {
    line-height: 1.5;
  }
  .searchbox {
    width: 70%;
    padding: 10px 15px 10px;
  }
}
